<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 Team Name: <%=@teams[:name] %>
 Coach: <%=@teams[:coach] %>
 Point Guard: <%=@teams[:pg] %>
 Shooting Guard: <%= @teams[:sg] %>
 Small Forward: <%= @teams[:sf] %>
 Power Forward: <%= @teams[:pf] %>
 Center: <%=@teams[:c] %>

 </body>
</html>


